<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scraper</title>
    <style>
        table {}

        th,
        td {}

        .center {
            text-align: center;
            display: block;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="center">
            <a href="javascript:fetchData()" style="margin-right: 10px;color: #e69c09;">
                refresh
            </a>
            <a download="fitauto.json" href="/data.json">
                download(json)
            </a>
        </div>
    </div>
    <script>
        async function fetchData() {
            let data = await fetch("/data.json").then(d => d.json());
            let table = document.getElementById("table");

            table.getElementsByClassName
        }
    </script>
</body>

</html>